

  <h4>All posts</h4>
  <div>
    <p><%= will_paginate @posts %></p>
  </div>   
  <div class="accordion" id="accordion1">
    <% @posts.each do |post| %>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse<%= post.id %>">
        <%= post.title %>
        </a>
      </div>
      <div id="collapse<%= post.id %>" class="accordion-body collapse">
        <div class="accordion-inner">
          <div align="left">
            <p><%= post.created_at %></p>
            <p id='rate<%= post.id %>'>Рейтинг: <%= post.vote %></p>
          </div>
          <%= post.message %>
          <div align="right">
            <p><%= User.find(post.user_id).email %></p>
            <% if current_user != nil %>
            <p><%= button_to 'Vote', votes_path(user_id: current_user, post_id: post), :class => 'btn btn-info', remote: true  %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div>
    <p><%= will_paginate @posts %></p>
  </div>

 
  