<div class="container">


<div class="row">
  <div class="span10">


  <div>
    <p><%= will_paginate @posts %></p>
  </div>   
  <div class="accordion" id="accordion1">
    <% @posts.each do |post| %>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse<%= post.id %>">
        <%= post.title %>
        </a>
      </div>
      <div id="collapse<%= post.id %>" class="accordion-body collapse">
        <div class="accordion-inner">
          <div align="left">
            <p><%= post.created_at %></p>
            <p>Рейтинг: <%= post.vote %></p>
          </div>
          <%= post.message %>
          <div align="right">
            <p><%= User.find(post.user_id).email %></p>
            <p><button class="btn btn-info" type="button">Vote</button></p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div>
    <p><%= will_paginate @posts %></p>
  </div>

 
  </div>
</div>
</div>